<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', {active}) %>
    <title>Shop Pages</title>
  </head>
  <body>
    <%- include('../partials/header', {active}) %>
    <div id="box_404">
      <h1>404! Page Not Found</h1>

    </div>
  </body>
</html>
